<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>


<!-- The form_for method accepts the instance of the model as an argument
form_for yields an object of class FormBuilder
form_for automatically knows the standard route-RESTFUL- for the form data as opposed to having to manually declare it
form_for gives the option to dynamically change the submit button text
connected to model directly
html form generated -> search form field or contact form 
